<h2>Exercise</h2>

<ol>
  <li>
    Create a new page "/marsrover".
    <ul>
      <li>The page should show the component "MarsRoverComponent".</li>
      <li>Provide some simple help for navigation.</li>
    </ul>
  </li>

  <li>
    The page "/marsrover" shows a landscape and the mars rover.

    <ul>
      <li>Add commands (turn, move) to the page, to be able to control the movements.</li>
    </ul>
  </li>

  <li>
    The mars rover should analyse rocks. While analyzing it can't move or turn, but the commands are queued and processed afterwards.

    <ul>
      <li>Analyzing takes 3 seconds.</li>
    </ul>
  </li>
</ol>
