<h2>Exercise</h2>

<mat-accordion>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Exercise 1
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h3>Create a new page "/marsrover".</h3>
    <ul>
      <li>The page should show the component "MarsRoverComponent".</li>
      <li>Provide some simple help for navigation.</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Exercise 2
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h3>The page "/marsrover" shows a landscape and the mars rover.</h3>
    <ul>
      <li>Add command to change the direction of the mars rover.</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Exercise 3
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h3>The page "/marsrover" shows a landscape and the mars rover.</h3>
    <ul>
      <li>Add command to move the mars rover 1 field.</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Exercise 4
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h3>The mars rover should analyse rocks. While analyzing it can't move or turn, but the commands are queued and processed afterwards.</h3>
    <ul>
      <li>Analyzing takes 3 seconds.</li>
    </ul>
  </mat-expansion-panel>

</mat-accordion>
